
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top-content{
    background: currentColor !important;
}
  .navbar{
    display: flex;
  }
  .navbar a{
    font-size: 27px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .navbar a img{
    margin-right: 10px;
    opacity: 8;
  }
  .btn-add{
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    background-color: grey;
    border-radius: 40%;
    padding-top: 2px;
  }
  .btn-add:hover {
    background-color: black;
    color: white;
    transition: .8s;
  }
  .btn-account{
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    background-color: grey;
    border-radius: 40%;
    padding-top: 2px;
  }
  .btn-account:hover {
    color: white;
    background-color: black;
    transition: .8s;
  }
  .text-light{
    text-decoration: none;
  }
  .topbar {
    align-items: center;
  }
  .topbar a p{
    color: gray;
    font-size: 18px;
    font-weight: 450;
    margin-bottom: 0px;
  }
  .top-content {
    background: #ddd8d8;
  }
  .topbar a p:hover{
    color: lightgray;
  }
body{
    background: lightgray;
}

.start_btn,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: lightgray;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: black;
    cursor: pointer;
}
.start_btn button:hover{
    background: red;
    transition: .3s;
    color: white;
}
.quiz_box{
    width: 530px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    border: 1px solid gray;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text{
    font-size: 22px;
    font-weight: 500;
}

section .option_list{
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    padding-left: 20px;
}

section .option_list input{
    margin-right: 8px;
}

section .option_list .option{
    background: lightgray;
    color: black;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}


section .option_list .option.selected{
    color: white;
    background: black;
    border: 1px solid #c3e6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    background: black;
    pointer-events: none;
    transform: scale(0.95);
    opacity: 0;
}

footer button:hover{
    background: red;
    border-color: red
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 25px 30px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons button{
    background: red;
    color: white;
    font-weight: 500;
    padding: 3px 22px;
    border-radius: 5px;
}
.result_box .buttons button:hover{
    background: white;
    color: red;
    font-weight: 500;
    padding: 3px 22px;
    border-radius: 5px;
    transition: .3s;
}