
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="="width=device-width, initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard | LearnX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >
    {% load static %}
    <link rel="stylesheet" href="{% static 'homes.css' %}">

</head>
    <body>
        <header>
          {% block body %}
          <div class="top-content">
            {% if user.is_authenticated %}
            <div class="container d-flex justify-content-between p-2">
              <a class="navbar-brand" href="#">
                <img src="{% static 'images/transparent_logo.png' %}" width="105px" height="50px" alt="" class="d-inline-block align-text-top">
              </a>
              <div class="d-grid gap-2 d-md-flex">
                <div class="topbar d-md-flex">
                  <a class="text-light" href="{% url 'add_cohort' %}"><p>View Cohort</p></a>&emsp;&emsp;
                </div>
                <div class="topbar d-md-flex">
                  <a class="text-light" href="{% url 'account_logout' %}"><p>Logout</p></a>
                </div>  
              </div>
            {% endif %}
          </div>
        </header>
      
        <!--<div class="text-center">
          <p>Hello {{ user.first_name }}!</p>
          <p>Your Username : {{ user }}</p>
          <a class="btn btn-dark" href="{% url 'socialaccount_connections' %}">Settings</a>
        </div>-->

        <section class="background">
          <div class="container-fluid bg-img">
            <img src="{% static 'images/transparent_logo.png' %}" width="690px" height="300px" alt="">
          </div>
          <div class="createexam">
            <a href="{% url 'cohort' %}" class="btn btn-createexam" type="button">Create an exam-cohort</a>
            <br> <br>
            <a href="{% url 'available_cohorts' %}" class="btn btn-createexam" type="button">Participate in an exam</a>
          </div>
        </section>
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      </body>
      {% endblock %}
{% endblock %}