{% extends "examcohort/add_cohort.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cohort View</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'inside_cohort_evaluator.css' %}">
</head>
<body>
    <header>
        <div class="top-content bg-dark">
          {% if user.is_authenticated %}
          <div class="container d-flex justify-content-between p-2">
            <a class="navbar-brand" href="#">
              <img src="{% static 'images/transparent_logo.png' %}" width="105px" height="50px" alt="" class="d-inline-block align-text-top">
            </a>
            <div class="d-grid gap-2 d-md-flex">
              <div class="topbar d-md-flex">
                <a class="text-light" href="{% url 'add_cohort' %}"><p>Go Back</p></a>&emsp;&emsp;
                <a class="text-light" href="{% url 'home' %}"><p>Home</p></a>&emsp;&emsp;
                <a class="text-light" href="{% url 'view_students' details.slug %}"><p>View Students</p></a>&emsp;&emsp;
                <a class="text-light" href="{% url 'view_assessment' details.slug %}"><p>View Assessments</p></a>&emsp;&emsp;
                <a class="text-light" href="{% url 'account_logout' %}"><p>Logout</p></a>
              </div>  
            </div>
          {% endif %}
        </div>
      </header>
      {% load static %}
      
      <section class="banner" style="background: #202C47;">
        <div class="container">
            <div class="row hg justify-content-center align-items-center">
                <div class="col-6">
                    <h2>{{ details.cohortName }}</h2>
                    
                    <p>Evaluator: {{details.user}}</p>
                    <br><br>
                    
                    <span></span>
                    <br><br>
                    <a href="{% url 'addStudent' details.slug %}" class="btn btn-call" name="addstudents">Add students</a>
                    &emsp;
                    <a href="{% url 'create_assessment' details.slug %}" class="btn btn-call" name="addassess">Create assessment</a><br><br>
                    <a href="{% url 'view_submissions' details.slug %}" class="btn btn-primary" style="width: 60%;">View Assessment Submissions</a>
                </div>
            </div>   
        </div>
    </section>
  
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>